@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slick-dots li button {
  font-size: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #EE6C23;
  border-radius: 50%;
  margin-top: 16px;
}

.slider .slick-dots li.slick-active button {
  background-color: #EE6C23;
}

.slider {
  position: relative;
  padding: 0px 60px;
  max-width: 480px;
}

@media (max-width: 1087px) {
  .slider {
    max-width: 450px;
  }
}

@media (max-width: 719px) {
  .slider {
    max-width: 410px;
  }
}

@media (max-width: 658px) {
  .slider {
    max-width: 360px;
  }
}

@media (max-width: 622px) {
  .slider {
    margin-bottom: 52px;
  }
}

@media (max-width: 378px) {
  .slider {
    max-width: 240px;
  }
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 46px;
  height: 46px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../images/button_left.png") 0 0/100% repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../images/button_right.png") 0 0/100% repeat;
}

.slider__item {
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slider__item img {
  border-radius: 15px;
}

@media (max-width: 1087px) {
  .slider__item img {
    max-width: 320px;
  }
}

@media (max-width: 719px) {
  .slider__item img {
    max-width: 290px;
  }
}

@media (max-width: 658px) {
  .slider__item img {
    max-width: 230px;
  }
}

@media (max-width: 378px) {
  .slider__item img {
    max-width: 120px;
  }
}

.main {
  min-height: 100vh;
  padding-bottom: 110px;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 64px;
  margin-bottom: 213px;
}

.main__header .main__phone a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3442BD;
  font-size: 24px;
}

.main__header .main__phone a img {
  width: 21px;
  height: 21px;
  margin-right: 13px;
}

.main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__info .info__title {
  max-width: 560px;
  position: relative;
}

.main__info .info__title h1 {
  font-size: 40px;
  color: #3442BD;
  margin-bottom: 32px;
  font-weight: bold;
  max-width: 493px;
}

.main__info .info__title p {
  font-size: 24px;
  color: #003274;
  margin-bottom: 32px;
}

.main__info .info__title button {
  width: 240px;
  height: 60px;
  background: #F07E3F;
  -webkit-box-shadow: 0px 4px 32px -5px #FF8A00;
          box-shadow: 0px 4px 32px -5px #FF8A00;
  border-radius: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.main__info .info__title button:hover {
  background: #F4945F;
}

.main__info .info__title button:active {
  background: #E26723;
}

.main__info .info__title button:before {
  content: '';
  position: absolute;
  right: 300px;
  bottom: -20px;
  width: 280px;
  height: 100px;
  border-radius: 20px;
}

.about {
  background-color: #3442BD;
  padding-bottom: 110px;
}

.about .about__content .title {
  color: #FFFFFF;
}

.about .about__content .sub__title {
  color: rgba(255, 255, 255, 0.5);
}

.about .about__content .education__programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 70px 0 0 0;
}

.about .about__content .education__programs .program {
  width: 33%;
}

.about .about__content .education__programs .program img {
  width: 90%;
}

.about .about__content .education__programs .program .program__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin: 30px 0 30px 0;
}

.about .about__content .education__programs .program ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin: 15px 0;
  padding: 0 0 0 10px;
  color: #FFFFFF;
  border-left: 3px solid #EE6C23;
}

.teachers .container .title {
  color: #003274;
}

.teachers .container .sub__title {
  color: #003274;
}

.teachers .container .teahcers__content .teacher_slider {
  margin-top: 95px;
  position: relative;
  padding: 0px 0px;
  height: 538px;
}

.teachers .container .teahcers__content .teacher_slider .slick-list {
  overflow: hidden;
}

.teachers .container .teahcers__content .teacher_slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.teachers .container .teahcers__content .teacher_slider .slick-list .slick-track .slider__item {
  margin-top: 24px;
  text-align: center;
  opacity: 0.52;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  width: 280px;
}

.teachers .container .teahcers__content .teacher_slider .slick-list .slick-track .slider__item.slick-center {
  opacity: 1;
  margin-top: 0px;
}

.teachers .container .teahcers__content .teacher_slider .slick-list .slick-track .slider__item.slick-center .image {
  width: 263px;
  height: 263px;
}

.teachers .container .teahcers__content .teacher_slider .slick-list .slick-track .slider__item.slick-center h3 {
  font-size: 32px;
}

.teachers .container .teahcers__content .teacher_slider .slick-list .slick-track .slider__item.slick-center p {
  font-size: 31px;
}

.teachers .container .teahcers__content .teacher_slider .slick-list .slick-track .slider__item .image {
  width: 215px;
  height: 215px;
  border-radius: 100%;
}

.teachers .container .teahcers__content .teacher_slider .slick-list .slick-track .slider__item h3 {
  text-align: center;
  color: #EE6C23;
  font-size: 25px;
  font-weight: bold;
  margin-top: 25px;
}

.teachers .container .teahcers__content .teacher_slider .slick-list .slick-track .slider__item p {
  margin-top: 25px;
  color: #003274;
  font-size: 24px;
  text-align: center;
}

.teachers .container .teahcers__content .teacher_slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 20;
  font-size: 0;
  width: 46px;
  height: 46px;
  margin: -23px 0px 0px 0px;
}

.teachers .container .teahcers__content .teacher_slider .slick-arrow.slick-prev {
  left: 0;
  background: url("/images/button_left.png") 0 0/100% no-repeat;
}

.teachers .container .teahcers__content .teacher_slider .slick-arrow.slick-next {
  right: 0;
  background: url("/images/button_right.png") 0 0/100% no-repeat;
}

.feedback {
  background-color: #3442BD;
  overflow: hidden;
  position: relative;
  padding-bottom: 110px;
}

.feedback .feedback__content .title {
  color: #fff;
}

.feedback .feedback__content .sub__title {
  color: rgba(255, 255, 255, 0.5);
}

.feedback .feedback__lines {
  margin-top: 55px;
}

.feedback .feedback__lines .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 200%;
  left: -50%;
}

.feedback .feedback__lines .line .line__item {
  padding: 30px;
  border-left: 2px solid #fff;
  width: 50%;
}

.feedback .feedback__lines .line .line__item:last-child {
  border-right: 2px solid #fff;
}

.feedback .feedback__lines .line .line__item .line__item__content .name {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #fff;
  margin: 0 0 25px 0;
}

.feedback .feedback__lines .line .line__item .line__item__content .text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.68);
}

.feedback .feedback__lines .line:last-child {
  border-top: none;
  left: -25%;
}

.partners {
  padding-bottom: 110px;
}

.partners .partners__content {
  height: 100%;
}

.partners .partners__content .title {
  color: #003274;
}

.partners .partners__content .partners__companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners .partners__content .partners__companies .partners__item {
  margin: 35px;
  padding: 30px 50px;
  -webkit-box-shadow: 5px 8px 20px 5px rgba(0, 0, 0, 0.28);
          box-shadow: 5px 8px 20px 5px rgba(0, 0, 0, 0.28);
  border-radius: 20px;
  max-width: 100%;
}

.partners .partners__content .partners__companies .partners__item img {
  max-width: 100%;
}

.video {
  background: #3442BD;
  padding-bottom: 110px;
}

.video .video__content .title {
  text-align: left;
  color: #fff;
}

.video .video__content .video__block {
  max-width: 960px;
  max-height: 500px;
  margin: 100px auto 0 auto;
}

.video .video__content .video__block video {
  width: 100%;
}

.form {
  padding-bottom: 110px;
}

.form .title {
  color: #003274;
}

.form .form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
}

.form .form__content .form__info ul li {
  color: #003274;
}

.form .form__content .form__block {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 44px 33px;
  -webkit-filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .form__content .form__block form .form__row {
  margin-bottom: 24px;
  position: relative;
}

.form .form__content .form__block form .form__row .form__data-input {
  border: 3px solid #EE6C23;
  border-radius: 20px;
  width: 295px;
  height: 55px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: black;
  padding: 18px;
  background-color: transparent;
  opacity: 0.52;
  outline: none;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.form .form__content .form__block form .form__row .form__data-input:focus {
  opacity: 1;
}

.form .form__content .form__block form .form__row .form__data-input:focus ~ .form__label {
  opacity: 1;
  font-size: 12px;
  top: 5px;
}

.form .form__content .form__block form .form__row .form__data-input:not(:placeholder-shown) ~ .form__label {
  opacity: 0.52;
  font-size: 12px;
  top: 5px;
}

.form .form__content .form__block form .form__row .form__label {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: -1;
  color: #003274;
  opacity: 0.52;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
}

.form .form__content .form__block form .form__btn {
  width: 295px;
  height: 55px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  background: #F07E3F;
  -webkit-box-shadow: 0px 4px 32px -5px #FF8A00;
          box-shadow: 0px 4px 32px -5px #FF8A00;
  border-radius: 20px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.form .form__content .form__block form .form__btn:hover {
  background: #F4945F;
}

.form .form__content .form__block form .form__btn:active {
  background: #E26723;
}

.footer {
  height: 200px;
  background-color: #003274;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .footer__content p {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-right: 130px;
}

.footer .container .footer__content .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .footer__content .footer__links ul {
  margin-right: 46px;
}

.footer .container .footer__content .footer__links ul li {
  margin: 15px 0;
}

.footer .container .footer__content .footer__links ul li img {
  width: 35px;
  height: 35px;
}

.coordinates {
  background: #3442BD;
  padding-bottom: 60px;
}

.coordinates .container .title {
  color: white;
}

.coordinates .container .coordinates__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  height: 70%;
}

.coordinates .container .coordinates__content .title {
  text-align: left;
  color: #fff;
}

.coordinates .container .coordinates__content .coordinates__info ul li {
  color: white;
}

.coordinates .container .coordinates__content .coordinates__map iframe {
  border-radius: 12px;
  -webkit-filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.16));
  width: 460px;
  height: 380px;
}

@media (max-width: 1087px) {
  .coordinates .container .coordinates__content .coordinates__map iframe {
    width: 400px;
    height: 320px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  padding: 64px 0 32px 0;
}

.sub__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

body {
  max-width: 100%;
}

.form .form__content .form__info ul li, .coordinates .container .coordinates__content .coordinates__info ul li {
  margin-bottom: 45px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  border-left: 3px solid #EE6C23;
  padding-left: 10px;
}

@media (max-width: 1087px) {
  .form .form__content .form__info ul li, .coordinates .container .coordinates__content .coordinates__info ul li {
    padding-right: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  h1.title {
    font-size: 36px;
  }
  p.sub__title {
    font-size: 20px;
  }
  .about .about__content .education__programs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .about .about__content .education__programs .program {
    width: calc(50% - 10px);
  }
  .about .about__content .education__programs .program img {
    width: 100%;
  }
  .main__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 100px;
    text-align: center;
  }
  .main__info .info__title h1 {
    max-width: none;
  }
  .main__header {
    margin-bottom: 120px;
  }
  .slider {
    max-width: 100%;
  }
  .slider__item img {
    max-width: 100%;
    width: 80%;
  }
  .feedback__lines h3 {
    font-size: 24px !important;
  }
  .feedback__lines p {
    font-size: 18px !important;
  }
  .feedback__lines .line {
    width: 300% !important;
  }
  .form .form__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .form .form__block {
    width: 100%;
  }
  .form form {
    width: 100%;
  }
  .form form input {
    width: 100% !important;
  }
  .coordinates__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .coordinates__content iframe {
    width: 100% !important;
  }
  .coordinates__map {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  h1.title {
    font-size: 32px;
  }
  p.sub__title {
    font-size: 18px;
  }
  .about .about__content .education__programs .program {
    width: 100%;
  }
  .feedback__lines .line {
    width: 500% !important;
  }
  .main__info {
    gap: 40px;
  }
  .slider {
    padding: 0;
  }
  .slider__item img {
    width: 100%;
  }
  .slider .slick-arrow {
    display: none !important;
  }
  .main__phone p {
    display: none !important;
  }
}
