@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slick-dots li button {
  font-size: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #EE6C23;
  border-radius: 50%;
  margin-top: 16px;
}

.slider .slick-dots li.slick-active button {
  background-color: #EE6C23;
}

.slider {
  position: relative;
  padding: 0px 60px;
  width: 480px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 46px;
  height: 46px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../images/button_left.png") 0 0/100% repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../images/button_right.png") 0 0/100% repeat;
}

.slider__item {
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slider__item img {
  border-radius: 15px;
}

.main {
  height: 100vh;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 64px;
  margin-bottom: 213px;
}

.main__header .main__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3442BD;
  font-size: 24px;
}

.main__header .main__phone img {
  width: 21px;
  height: 21px;
  margin-right: 13px;
}

.main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__info .info__title {
  width: 560px;
}

.main__info .info__title h1 {
  font-size: 40px;
  color: #3442BD;
  margin-bottom: 32px;
}

.main__info .info__title p {
  font-size: 24px;
  color: #003274;
  margin-bottom: 32px;
}

.main__info .info__title button {
  width: 240px;
  height: 60px;
  left: 320px;
  top: 552px;
  background: #F07E3F;
  -webkit-box-shadow: 0px 4px 32px -5px #FF8A00;
          box-shadow: 0px 4px 32px -5px #FF8A00;
  border-radius: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.about {
  height: 100vh;
  background-color: #3442BD;
}

.about .about__content .title {
  color: #FFFFFF;
}

.about .about__content .sub__title {
  color: rgba(255, 255, 255, 0.5);
}

.about .about__content .education__programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about .about__content .education__programs .program {
  width: 33%;
}

.about .about__content .education__programs .program img {
  width: 90%;
}

.about .about__content .education__programs .program .program__title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin: 30px 0 60px 0;
}

.about .about__content .education__programs .program ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 15px 0;
  padding: 0 0 0 5px;
  color: #FFFFFF;
  border-left: 3px solid #EE6C23;
}

.teachers {
  height: 100vh;
}

.slick-slide {
  width: 280px;
}

.title {
  color: #003274;
}

.sub__title {
  color: #003274;
}

.teacher_slider {
  margin-top: 95px;
  position: relative;
  padding: 0px 0px;
  height: 538px;
}

.teacher_slider .slider__item {
  margin-top: 24px;
  text-align: center;
  opacity: 0.52;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.teacher_slider .slider__item .image {
  width: 215px;
  height: 215px;
  border-radius: 100%;
}

.teacher_slider .slider__item h3 {
  text-align: center;
  color: #EE6C23;
  font-size: 25px;
  font-weight: bold;
  margin-top: 25px;
}

.teacher_slider .slider__item p {
  margin-top: 25px;
  color: #003274;
  font-size: 24px;
  text-align: center;
}

.teacher_slider .slider__item.slick-center {
  opacity: 1;
  margin-top: 0px;
}

.teacher_slider .slider__item.slick-center .image {
  width: 263px;
  height: 263px;
}

.teacher_slider .slider__item.slick-center h3 {
  font-size: 32px;
}

.teacher_slider .slider__item.slick-center p {
  font-size: 31px;
}

.teacher_slider .slick-arrow.slick-prev {
  left: 0;
  background: url("/images/button_left.png") 0 0/100% no-repeat;
}

.teacher_slider .slick-arrow.slick-next {
  right: 0;
  background: url("/images/button_right.png") 0 0/100% no-repeat;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 20;
  font-size: 0;
  width: 46px;
  height: 46px;
  margin: -23px 0px 0px 0px;
  height: 100vh;
}

.feedback {
  height: 100vh;
  background-color: #3442BD;
}

.title {
  color: #003274;
}

.partners__companies {
  margin-top: 45px;
}

.partners__companies .partners__item {
  margin: auto;
  width: 447px;
  height: 170px;
  margin-bottom: 60px;
  -webkit-box-shadow: 5px 8px 20px 5px rgba(0, 0, 0, 0.28);
          box-shadow: 5px 8px 20px 5px rgba(0, 0, 0, 0.28);
  border-radius: 20px;
}

.partners__companies .partners__item img {
  display: block;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  padding: 64px 0 0 0;
  margin: 0 0 32px 0;
}

.sub__title {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
/*# sourceMappingURL=style.css.map */