.teachers {
  height: 900px;
}

.container {
  margin: auto;
}

.slick-slide {
  width: 280px;
}

.teachers__title {
  margin-top: 64px;
}

.teachers__title color
h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: Montserrat;
}

.teachers__title p {
  font-size: 24px;
}

.teacher_slider {
  margin-top: 95px;
  position: relative;
  padding: 0px 0px;
  height: 538px;
}

.teacher_slider .slider__item {
  margin-top: 24px;
  text-align: center;
  opacity: 0.52;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.teacher_slider .slider__item .image {
  width: 215px;
  height: 215px;
  border-radius: 100%;
}

.teacher_slider .slider__item h3 {
  text-align: center;
  font-family: Montserrat;
  color: #EE6C23;
  font-size: 25px;
  font-weight: bold;
  margin-top: 25px;
}

.teacher_slider .slider__item p {
  margin-top: 25px;
  font-family: 'Arial';
  color: #003274;
  font-size: 24px;
  text-align: center;
}

.teacher_slider .slider__item.slick-center {
  opacity: 1;
  margin-top: 0px;
}

.teacher_slider .slider__item.slick-center .image {
  width: 263px;
  height: 263px;
}

.teacher_slider .slider__item.slick-center h3 {
  font-size: 32px;
}

.teacher_slider .slider__item.slick-center p {
  font-size: 31px;
}

.teacher_slider .slick-arrow.slick-prev {
  left: 0;
  background: url("/images/button_left.png") 0 0/100% no-repeat;
}

.teacher_slider .slick-arrow.slick-next {
  right: 0;
  background: url("/images/button_right.png") 0 0/100% no-repeat;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 20;
  font-size: 0;
  width: 46px;
  height: 46px;
  margin: -23px 0px 0px 0px;
}
