.about {
	height: 100vh;
	background-color: #3442BD;
	.about__content {
		.title {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 700;
			font-size: 40px;
			line-height: 49px;
			color: #FFFFFF;
			padding: 64px 0 0 0;
			margin: 0 0 32px 0;
		}
		.sub__title {
			font-family: 'Arial';
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 28px;
			color: rgba(255, 255, 255, 0.5);
		}
		.education__programs {
			display: flex;
			justify-content: space-around;
			.program {
				width: 33%;
				.program__title {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 700;
					font-size: 16px;
					line-height: 20px;
					letter-spacing: 0.03em;
					color: #FFFFFF;
					margin: 30px 0 60px 0;
				}
				ul {
					li {
						font-family: 'Arial';
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						line-height: 16px;
						margin: 15px 0;
						padding: 0 0 0 5px;
						color: #FFFFFF;
						border-left: 3px solid orange;
					}
				}
			}
		}
	}
}