.coordinates {
	height: 100vh;
	background: $color_blue_2;

	.container {
		.title {
			color: white;
		}

		.coordinates__content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			vertical-align: middle;
			height: 70%;

			.title {
				text-align: left;
				color: #fff;
			}

			.coordinates__info {
				ul {
					li {
						@extend %list_style;
						color: white;
					}
				}
			}

			.coordinates__map {
				iframe {
					border-radius: 12px;
					filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.16));
					width: 460px;
					height: 380px;

					@media (max-width: 1087px) {
						width: 400px;
						height: 320px;
					}
				}
			}
		}
	}
}