.footer {
	height: 200px;
	background-color: $color_blue;

	.container {
		display: flex;
		align-items: center;

		.footer__content {
			display: flex;
			align-items: center;

			p {
				font: {
					weight: 400;
					size: 24px;
				}

				line-height: 28px;
				letter-spacing: 0.03em;
				color: #FFFFFF;
				margin-right: 130px;
			}

			.footer__links {
				display: flex;
				justify-content: center;
				align-items: center;

				ul {
					margin-right: 46px;

					li {
						margin: 15px 0;

						img {
							width: 35px;
							height: 35px;
						}
					}
				}
			}
		}
	}
}