.main {
	height: 100vh;
}

.main__header {
	display: flex;
	justify-content: space-between;
	padding-top: 64px;
	margin-bottom: 213px;

	.main__phone {
		display: flex;
		width: 12 0px;
		align-items: center;
		color: $color_blue_2;
		font-size: 24px;

		img {
			width: 21px;
			height: 21px;
			margin-right: 13px;
		}
	}
}

.main__info {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 622px) {
		flex-wrap: wrap-reverse;
	}

	.info__title {
		max-width: 560px;
		position: relative;

		h1 {
			font-size: 40px;
			color: $color_blue_2;
			margin-bottom: 32px;
			font-weight: bold;
			max-width: 493px;

			@media (max-width: 895px) {
				max-width: 393px;
				font-size: 30px;
			}

			@media (max-width: 719px) {
				font-size: 25px;
				max-width: 293px;
			}

			@media (max-width: 658px) {
				font-size: 20px;
			}
		}

		p {
			font-size: 24px;
			color: $color_blue;
			margin-bottom: 32px;

			@media (max-width: 895px) {
				max-width: 393px;
				font-size: 20px;
			}

			@media (max-width: 719px) {
				font-size: 18px;
			}

			@media (max-width: 658px) {
				font-size: 16px;
			}
		}

		button {
			width: 240px;
			height: 60px;
			background: $color_orange;
			box-shadow: 0px 4px 32px -5px #FF8A00;
			border-radius: 20px;

			@media (max-width: 895px) {
				width: 240px;
				height: 50px;
				font-size: 20px;
			}

			@media (max-width: 719px) {
				width: 190px;
				font-size: 18px;
			}

			@media (max-width: 658px) {
				height: 40px;
				width: 180px;
				font-size: 16px;
			}

			@media (max-width: 622px) {
				width: 100%;
			}

			&:hover {
				background: #F4945F;
			}

			&:active {
				background: #E26723;
			}

			&:before {
				content: '';
				position: absolute;
				right: 300px;
				bottom: -20px;
				width: 280px;
				height: 100px;
				border-radius: 20px;
			}

			font: {
				style: normal;
				weight: 700;
				size: 24px;
			}

			line-height: 28px;
			text-align: center;
			color: #FFFFFF;
			transition: all 500ms ease;
		}
	}
}