.partners {
	height: 100vh;
	.partners__content {
		height: 100%;
		.title {
			color: $color_blue;
		}
		
		.partners__companies {
			margin-top: 45px;
		
			.partners__item {
				margin: 0 auto;
				width: 100%;
				margin-bottom: 60px;
				box-shadow: 5px 8px 20px 5px rgba(0, 0, 0, 0.28);
				border-radius: 20px;
		
				img {
					display: block;
					margin: 0 auto
				}
			}
		}
	}
}