.teachers {
	height: 100vh;
}

.slick-slide {
	width: 280px;
}

.title {
	margin-top: 64px;
	color: $color_blue;

	h2 {
		font-size: 40px;
		font-weight: bold;
		font-family: Montserrat;
		margin-bottom: 32px;
	}

	p {
		font-size: 24px;
	}
}

.teacher_slider {
	margin-top: 95px;
	position: relative;
	padding: 0px 0px;
	height: 538px;


	.slider__item {
		margin-top: 24px;
		text-align: center;
		opacity: 0.52;
		transition: all 1s ease 0s;

		.image {
			width: 215px;
			height: 215px;
			border-radius: 100%;
		}

		h3 {
			text-align: center;
			font-family: Montserrat;
			color: #EE6C23;
			font-size: 25px;
			font-weight: bold;
			margin-top: 25px;
		}

		p {
			margin-top: 25px;
			font-family: 'Arial';
			color: #003274;
			font-size: 24px;
			text-align: center;
		}

	}

	.slider__item.slick-center {
		opacity: 1;
		margin-top: 0px;

		.image {
			width: 263px;
			height: 263px;
		}

		h3 {
			font-size: 32px;
		}

		p {
			font-size: 31px;
		}
	}
}

.teacher_slider .slick-arrow.slick-prev {
	left: 0;
	background: url('/images/button_left.png') 0 0 / 100% no-repeat;
}

.teacher_slider .slick-arrow.slick-next {
	right: 0;
	background: url('/images/button_right.png') 0 0 / 100% no-repeat;
}

.slick-list {
	overflow: hidden;
}

.slick-track {
	display: flex;
	align-items: flex-start;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 20;
	font-size: 0;
	width: 46px;
	height: 46px;
	margin: -23px 0px 0px 0px;
	height: 100vh;
}