.teachers {
	height: 100vh;

	.container {
		.title {
			color: $color_blue;
		}

		.sub__title {
			color: $color_blue;
		}

		.teahcers__content {
			.teacher_slider {
				margin-top: 95px;
				position: relative;
				padding: 0px 0px;
				height: 538px;

				.slick-list {
					overflow: hidden;

					.slick-track {
						display: flex;
						align-items: flex-start;

						.slider__item {
							margin-top: 24px;
							text-align: center;
							opacity: 0.52;
							transition: 0.8s;
							width: 280px;

							&.slick-center {
								opacity: 1;
								margin-top: 0px;

								.image {
									width: 263px;
									height: 263px;
								}

								h3 {
									font-size: 32px;
								}

								p {
									font-size: 31px;
								}
							}

							.image {
								width: 215px;
								height: 215px;
								border-radius: 100%;
							}

							h3 {
								text-align: center;
								color: $color_orange_2;

								font: {
									size: 25px;
									weight: bold;
								}

								margin-top: 25px;
							}

							p {
								margin-top: 25px;
								color: $color_blue;
								font-size: 24px;
								text-align: center;
							}
						}
					}
				}

				.slick-arrow {
					position: absolute;
					top: 50%;
					z-index: 20;
					font-size: 0;
					width: 46px;
					height: 46px;
					margin: -23px 0px 0px 0px;

					&.slick-prev {
						left: 0;
						background: url('/images/button_left.png') 0 0 / 100% no-repeat;
					}

					&.slick-next {
						right: 0;
						background: url('/images/button_right.png') 0 0 / 100% no-repeat;
					}
				}
			}
		}
	}
}