.video {
	background: $color_blue_2;
	padding-bottom: 110px;

	.video__content {

		.title {
			text-align: left;
			color: #fff;
		}

		.video__block {
			max-width: 960px;
			max-height: 500px;
			margin: 100px auto 0 auto;

			video {
				width: 100%;
			}
		}
	}
}