@import "_colors";
@import "_fonts";
@import "_nullstyle";
@import "_header_slider_style";
@import "_main_style";
@import "_about";
@import "_teachers";
@import "_feedback";
@import "_partners";
@import "_video";
@import "_form";
@import "_footer";
@import "_coordinates";

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	padding: 64px 0 32px 0;

}

.sub__title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;

}

body {
	max-width: 100%;
}

%list_style {
	margin-bottom: 45px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	border-left: 3px solid #EE6C23;
	padding-left: 10px;
}