@import "_colors";
@import "_fonts";
@import "_nullstyle";
@import "_header_slider_style";
@import "_main_style";
@import "_about";
@import "_teachers";
@import "_feedback";
@import "_partners";
@import "_video";
@import "_form";


.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.container {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

.title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	padding: 64px 0 32px 0;

}

.sub__title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;

}

body {
	font-family: Arial, Helvetica, sans-serif;
}